<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head.ejs")%>
    <title>Payment - A1 Uniform</title>
    <link rel="stylesheet" href="libs/bootstrap-3.4.1/css/bootstrap.min.css" id="bootstrap-css">
    <script src="libs/jquery/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="container wrapper">
    <div class="row cart-body">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
            <div class="panel panel-info">
                <div class="panel-heading">Cart Detail</div>
                <div class="panel-body">
                    <% if(products !==null) { products.forEach(function(e){%>
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-3">
                            <img class="img-responsive" src="<%= e.item[0].Images %>" />
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="col-xs-12">
                                <%= e.item[0].NameProd %>
                            </div>
                            <div class="col-xs-12"><small>Quantity:<span><%= e.quantity%></span></small></div>
                            <div class="col-xs-12">
                                <button id="add" name="buy" type="button"><a href="/remove/<%= e.item[0].IdProd %>">Remove</a></button>
                            </div>

                        </div>
                        <div class="col-sm-3 col-xs-3 text-right">
                            <h6><span>$</span><%= e.price %></h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                    </div>
                    <% }) } %>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <strong>Order Total</strong>
                            <% var myPrice=0 %>
                            <% products.forEach(function(e) { myPrice +=e.price } ) %>
                            <div class="pull-right"><span>$</span><span>
                                    <%= myPrice %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="/billing-shipping" style="color:white"><button type="submit" class="btn btn-primary btn-submit-fix">Place Order</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>